@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700|Playfair+Display:400,700,900&display=swap');

@media (min-width: 1400px) {
   .container {
      width: 1330px;
   }
}

@font-face {
   font-family: 'gooddog';
   font-weight: normal;
   font-style: normal;
   src: url('fonts/gooddp__-webfont.ttf') format('ttf'),
      url('fonts/gooddp__-webfont.woff2') format('woff2'),
      url('fonts/gooddp__-webfont.woff') format('woff');
}

/* font-family: 'gooddog', cursive; */


@font-face {
   font-family: gabelisa;
   src: url('fonts/Gabelisa.otf');
}

.main-header {
   background-image: url(../img/hero-bg.png);
   background-position:right bottom;
   background-size: cover;
   padding: 0px 0px 300px 0px;
   background-repeat: no-repeat;
}

.navbar-right-top {
   display: flex;
   justify-content: flex-end;
   padding: 35px 0px 14px 0px;
}

a.navbar-brand {
   padding-top: 73px;
}

li.nav-item a {
   font-size: 16.67px;
   padding-left: 50px;
   padding-right: 0px;
   color: #fff;
   text-transform: uppercase;
   font-family: 'Playfair Display', serif;
   line-height: 100%;
   letter-spacing: 3px;
   font-weight: 700;
}

.nav>li>a:focus,
.nav>li>a:hover {
   text-decoration: none;
   background-color: transparent;
}

/* Hero */

.herotxt {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding-top: 200px;
   padding-bottom: 200px;
   padding-left: 74px;
}

.herotxt h1 {
   font-size: 115px;
   color: #f04b58;
   font-family: gabelisa, serif;
   padding-left: 65px;

}

.herotxt h1 span {
   display: flex;
   justify-content: center;
   margin-left: -44px;
}

/* Our story */

.review {
   background-image: url(../img/section2.png);
   background-size: contain;
   background-position: center;
   margin-top: -30px;
   padding-bottom: 90px;
   background-repeat: no-repeat;
   position: relative;
}

.orange {
   position: absolute;
   left: 287px;
   bottom: -100px;
}

.berry {
   position: absolute;
   right: 0;
   top: -164px;
   z-index: -1;
}

.review-content {
   text-align: center;
}

.review-content h2 {
   font-family: 'Playfair Display', serif;
   font-size: 41px;
   font-weight: 700;
}

.review-content p {
   font-size: 20.83px;
   line-height: 33px;
   font-family: 'Playfair Display', serif;
   padding-top: 20px;
}

.review-content span {
   font-family: gabelisa, serif;
   font-size: 100px;
   color: #f04b58;
}

.review-content a .btn.btn-default {
   padding: 13px 34px;
   font-size: 16px;
   font-weight: 700;
   text-transform: uppercase;
   line-height: 33.33px;
   letter-spacing: 3.6px;
   margin-top: 42px;
   border-color: #fac0c5;
   font-family: 'Playfair Display', serif;
}

/* Feast */

.feast-section {
   background-image: url(../img/section3.png);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.feast-content {
   padding: 265px 0px;
}

.row.feast-content h4 {
   color: #fff;
   font-size: 33px;
   letter-spacing: 4.6px;
   font-family: 'Playfair Display', serif;
   font-weight: 700;
   text-align: center;
   padding-right: 60px;
   padding-bottom: 27px;
}

.spoon img {
   margin-left: -40px;
}

.spoon {
   text-align: center;
   position: relative;
   margin-left: -23px;
}

.spoon:before {
   background-color: #ebae4c;
   width: 230px;
   content: "";
   height: 1px;
   display: inline-block;
   left: 371px;
   top: 15px;
   position: absolute;
}

.spoon:after {
   background-color: #ebae4c;
   width: 230px;
   content: "";
   height: 1px;
   display: inline-block;
   top: 15px;
   right: 411px;
   position: absolute;
}

.ourstorytext .btn.btn-default {
   padding: 12px 35px;
}

.ourstorytext .btn.btn-default:hover {
   background-color: #f04b58;
   color: #fff;
   transition: .5s ease .05s;
}

/* Menu */
.menu {
   padding: 106px 0px;
}

.menu-content {
   display: -webkit-flex;
   align-items: center;
   justify-content: flex-start;
   padding-top: 21px;
}

.menu-wrap {
   width: 100%;
}

.menu-wrap h2 {
   font-family: 'Playfair Display', serif;
   font-size: 29.70px;
   text-transform: uppercase;
   font-weight: 700;
   line-height: 46px;
   letter-spacing: .6px;
}

.menu-wrap h3 {
   font-size: 62px;
   font-family: gabelisa, serif;
   color: #f04b58;
   padding-bottom: 20px;
   margin-top: -8px;
}

.menu-item h5 {
   font-size: 25px;
   font-weight: 700;
   font-family: 'Playfair Display', serif;
}

.menu-item p {
   color: #717171;
   width: 322px;
   padding-bottom: 33px;
   font-family: 'Playfair Display', serif;
}

.menu-item p {
   color: #717171;
   width: 383px;
   padding-bottom: 30px;
   font-family: 'Playfair Display', serif;
   word-spacing: 2px;
}

.menu-item .royalsub {
   float: left;
   font-family: 'Playfair Display', serif;
}

.dollar {
   float: right;

}

.dollar h6 {
   font-family: 'Playfair Display', serif;
   font-size: 25px;
   color: #f04b58;
   font-weight: 700;
}

/* Social Events */
.social-events h3 {
   text-transform: uppercase;
   font-size: 29.17px;
   font-weight: 700;
   font-family: 'Playfair Display', serif;
   margin-top: 54px;
}

.social-events h2 {
   color: #f04b58;
   font-size: 62.5px;
   font-family: gabelisa, serif;
   padding-bottom: 35px;
}

.social-content p {
   font-size: 20.83px;
   color: #3d3d3d;
   font-family: 'Playfair Display', serif;
   line-height: 33px;
}

.secialfile {
   padding-left: 78px;
   padding-top: 45px;
}

.sandwich {
   margin-left: -110px;
}

/* Reservation */

.reservation {
   padding-top: 36px;
   padding-bottom: 20px;
}

.reservation {
   position: relative;
}

.tomatto2 {
   position: absolute;
   top: 71px;
   right: 100px;
}

.waffer {
   position: absolute;
   bottom: -197px;
   left: 55px;
}

.reservation {
   font-family: 'Playfair Display', serif;
}

.formfile input.form-control {
   margin-top: 15px;
   height: 64px;
}

.reservation h3 {
   font-size: 29px;
   text-transform: uppercase;
   font-family: 'Playfair Display', serif;
   font-weight: 700;
}

.reservation h2 {
   font-size: 62px;
   font-family: gabelisa, serif;
   color: #f04b58;
}

.formfile .btn.btn-default {
   margin-top: 15px;
   padding: 17px 139px;
   font-size: 20px;
   text-transform: uppercase;
   font-weight: 700;
}

.formfile .btn.btn-default:hover {
   background-color: #f04b58;
   color: #fff;
   transition: .5s ease .05s;
}

/* footer */
.footer {
   background-image: url(../img/footersection.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   margin-top: 109px;
}

.footericon-item {
   text-align: center;
   padding: 20px 0px;
}

.footer-content {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 544px;
   position: relative;
   flex-direction: column;
}

.footericon-item p {
   color: #fff;
   font-size: 20px;
   line-height: 37px;
   padding-top: 11px;
}

.footer-logo img {
   padding-bottom: 50px;
}

.social-icon{
   float: right;
   padding-right: 20px;
}

.footer-bottom p {
   color: #fff;
   font-size: 16px;
   padding-left: 20px;
}

.social-icon i {
   background-color: #fff;
   border-radius: 100%;
   height: 25px;
   width: 25px;
   padding: 6px 6px;
   color: black;
   font-weight: 900
}